__pycache__/
/outputs
/speakers
.vs
.vs/
/bark/assets/prompts/Pedant.npz
/bark/assets/prompts/merkel.npz
/bark/assets/prompts/harald2.npz
/bark/assets/prompts/harald.npz
/bark/assets/prompts/attenborough.npz
/docs/wow.webm
/docs/magis.wav
/docs/harald_24000.wav
/docs/harald.wav
